.btn{
    border: 0;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
	text-decoration: none;
	margin: 8px;

    &-primary{
		border: 0;
		font-size: 18px;
        color: #fff; // customize via theme_mod
        background: $primary; // customize via theme_mod
        font-weight: bold; // customize via theme_mod
        font-size: 15px; // customize via theme_mod
		padding: 15px 28px; // c theme mod
		border-radius: 50px;
        @extend .trans-all-3s-ease-in-out !optional;

        &:hover,
        &:active,
        &:focus{
            background: $primary-hover;
        }
    }

    &:hover,
    &:active,
    &:focus{
        text-decoration: none;
    }
}

.menu-item.btn-blue{
	margin: 0 8px;

	a{
		border-radius: 50px;
		color: #fff;
		background-color: blue;

		> span{
			color: #fff;
		}
	}
}

.menu-item.btn-green{
	margin: 0 8px;

	a{
		border-radius: 50px;
		color: #fff;
		background-color: green;

		> span{
			color: #fff;
		}
	}
}

button{
    @extend .btn !optional;
    @extend .btn-primary !optional;
    margin-bottom: 10px;
}

.post-edit-link{
    color: #ffffff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: $primary;
    padding: 15px;
    border-radius: 5px;
    z-index: 1900;
    @extend .trans-3s-ease-in-out !optional;

    &:hover,
    &:focus,
    &:active{
        background: $primary-hover;
    }

    @media screen and (min-width: 1200px){
        top: 65px;
        bottom: inherit;
    }
}

.toggle-button{
	border-radius: 50%;
	background-color: $primary;
	padding: 15px 19px;
    position: fixed;
    z-index: 1991;
    top: 2px;
    right: 0px;
    display: block;

    @media screen and (min-width: 992px){
        display: none;
    }
}

.tb-line{
	width: 18px;
    margin: 5px 0;
    height: 2px;
	background: #fff;
	transition: all 0.1s ease-in-out;
	transform: rotate(0deg);
	opacity: 1;
}

.slideout-open{
	.tb-line-mid{
		opacity: 0;
	}

	.tb-line-top{
		transform: rotate(45deg) translate(6px, 4px);
	}

	.tb-line-bottom{
		transform: rotate(-45deg) translate(5px,-4px);
	}
}
