
.section-headline{
    font-size: 35px;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-uppercase{
	text-transform: uppercase;
}

.font-weight{
	font-weight: normal;
}

p,li,label,figcaption,span{
	font-size: 14px;
    line-height: 25px;
}

a{
	outline: 0;
	@extend .trans-all-3s-ease-in-out;

	&:active,
	&:focus{
		outline: 0;
		box-shadow: 0 0 0 0 rgba(0,0,0,0);
	}
}

.lead{
	color: $lead;
	font-size: 18px;
	line-height: 27px;
}

h1{
	font-size: 40px;
	font-weight: bold;
	@extend .font-weight;
	margin: auto;
	line-height: auto;
}

h2{
	@extend .font-weight;
	margin: auto;
	line-height: auto;
}

h3{
	@extend .font-weight;
	margin: auto;
	line-height: auto;
}

h4{
	@extend .font-weight;
	margin: auto;
	line-height: auto;
}

h5{
	@extend .font-weight;
	margin: auto;
	line-height: auto;
}

h6{
	@extend .font-weight;
	margin: auto;
	line-height: auto;
}

figcaption{
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}

blockquote{
	padding: 0;
	margin: 0;
	border: 0;
	color: $black1;
    font-size: 14px;
	line-height: 25px;
	position: relative;
	padding-top: 55px;
	font-weight: 700;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 64px;
		height: 41px;
		background: url(images/icon-sprites.svg) no-repeat scroll -45px -69px/293px transparent;
	}
}

.aligncenter{
	@extend .text-center;
}